html, body{
    padding: 0 ;
    margin: 0 auto;
    overflow: hidden;
}
body{
  background-image: url('./media/salen.jpg');  
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  margin: 0 auto;
}
main{
    display: grid;
    place-items: center;
}
/* Menu start*/
nav {
    background: transparent;
    height: 3rem;
    display: grid;
    align-items: center;
}
.nav{
    width: 60vh;
    height: 3rem;
    max-width: var(--fixed-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
li{
    display: inline;
    float: right;  
}
li a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 16px;
    background-image: linear-gradient(
    to right,
    #ffffff,
    #ffffff 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  }
  li a:hover {
    background-position: 0;
    }
    a:hover::before {
        width: 100%;
      }
/* menu ends*/
/* headings */
h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-shadow: 1px 2px 4px rgba(0,0,0,.2);
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    font-weight: 800;
    text-shadow: 1px 2px 4px rgba(0,0,0,.2);
}
/* headings ends */
/* center card */
.card{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    width: 600px;
    height: 550px;
    text-align: center;
    margin-top: 25vh;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    overflow: hidden;
    scroll-behavior: smooth;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.linje{
    border-bottom: 1px solid #000000;
    margin: 2px 0;
    clear: right;
  }
.inside p{
    font-size: 25px;
    margin-top: -42px;
    text-shadow: 1px 2px 4px rgba(0,0,0,.2);
}
.kontakt img{
    margin: 20px 0 0 0;
    padding: 0 30px 0 30px;
    border: 2px solid black;
    border-radius: 50px;
}
.kontakt img:hover{
    background-color: white;
}
.mail {
   height: 4%;
   width: 4%;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.fb, .in, .git, .yt{
    height: 4%;
    width: 4%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.sign img{
    height:40%;
    width: 40%;
    position: relative;
    float: right;
    margin: 55px 10px 0 0 ;
}
/*center card ends*/

/* responsiv */

@media screen and (max-width: 800px) {
    body{
        overflow:hidden;
        height: 100%;
    }
    h4{
      display: none;
      
    }
    h3{
        font-size: 20px;
    }
    .inside p{
        font-size: 13px;
        padding: 20px 0 0 0;
    }
    .nav{
        width:60vh;
    }
    ul{
        text-align: center;
    }
    li{
        display: block;
        padding: 0 20px 0 0;
    }
    .card{
        width: 300px;
        height: 400px;
        margin-top: 10vh;
    }
    .kontakt img{
        border: none;
        border-radius: 0;
        padding:0 3px 0 3px;
    }
    .fb, .in, .git, .yt{
        height: 15%;
        width: 15%;
        box-shadow: 0 0 0 0 rgba(0,0,0,.2);
    }
    .mail {
        height: 15%;
        width: 15%;  
        box-shadow: 0 0 0 0 rgba(0,0,0,.2);
    }
    .sign img{
        margin: 10px 10px 0 0;
    }

}
